.settings {
  border-top: 1px solid #f7f7f7;
  font-weight: 600;
}
.settings .settings__sections {
  padding: 30px 0;
}
.settings__setting .settings__icon {
  font-size: 20px;
  margin-right: 20px;
  cursor: pointer;
}
.settings__setting .settings__title {
  font-size: 18px;
  font-weight: 300;
}
.settings .settings__setting {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}
.settings .settings__setting:last-child {
  margin-bottom: 0;
}
